# app
APP_NAME=CasperFYRE
CORS_SITE=api.casperfyre.localhost
FRONTEND_URL=casperfyre.localhost

# database
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=casperfyre

# node
NODE_IP=18.219.70.138

# keys
MASTER_KEY=deadbeefdeadbeefdeadbeefdeadbeef
SECRET_KEY_PATH=